<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fly box hunting | Sergey Levkovich</title>
    <% for (var css in htmlWebpackPlugin.options.files.css) { %>
        <link href="<%= htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet">
    <% } %>
    <link rel="icon" type="image/png" href="public/assets/images/fly-box.png" />
    <meta name="description" content="Fly box hunting. HTML5 canvas game. Author: Sergey Levkovich">
</head>
<body>
<canvas id="backgroundCanvas"></canvas>
<canvas id="collisionCanvas"></canvas>
<canvas id="gameCanvas"></canvas>
<img id="soundToggle" class="no-select" src="./public/assets/images/speaker_Icon.svg" alt="turn on/off sound" />
<div id="loginFormContainer">
    <form id="loginForm">
        <label for="username">
            Username:
            <input id="username" type="text" placeholder="Your username" required autofocus />
        </label>
        <input type="submit" value="Start"/>
    </form>
    <div id="scoreTable">
        <h3>Score list:</h3>
        <table id="scoreList">
            <th>
                №
            </th>
            <th>
                Username
            </th>
            <th>
                Score
            </th>
            <th>
                Accuracy
            </th>
            <th>
                Date
            </th>
        </table>
    </div>
</div>

</body>
</html>
